.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;

    .button-wrapper {
        margin-top: 5rem;
    }

    .search {
        margin-top: 5rem;
        padding-left: 5rem;
    }

    @media(max-width: 600px) {
        .search {
            padding: 0;
        }
    }
    

    .result-list {
        width: 100%;
        margin-top: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .result-item {
            font-weight: normal;
            font-size: 1.5rem;
            text-align: center;
            padding: 1rem 1.8rem;
            border-radius: 15px 5px 15px 5px;
            box-shadow: -10px -10px 20px -12px grey, 10px 10px 20px -12px grey;
        }
    }

    .result-msg {
        text-align: center;
        margin-top: 10rem;
        font-weight: normal;
    }
}

@media(max-width: 800px) {
    .main-container {
        width: 90%;
    }
}